<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <img src="https://www.canva.com/design/DAETA3yjAQ0/r8Vq6vTWhGolOtJBv8gYMg/view?utm_content=DAETA3yjAQ0&utm_campaign=designshare&utm_medium=link&utm_source=sharebutton" alt="" >
    <h1 class="display-3 ">Social Dairy</h1>
    <p class="secret-text">Lets get social</p>
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
